<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dashboard</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main:index' %}"><i class="fa fa-square-o "></i>&nbsp;Edu</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'account:logout' %}">Logout</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center user-image-back">
                    <img style="width: 100%" src="
                        {% if request.user.profile.image %}
                        {{ request.user.profile.image.url }}
                        {% else %}
                        {% static 'assets/img/find_user.png' %}
                        {% endif %}
                        " class="img-responsive"/>

                </li>


                <li>
                    <a href="{% url 'account:profile_info' %}"><i class="fa fa-desktop "></i>Profile</a>
                </li>
                <li>
                    <a href="{% url 'account:my_courses' %}"><i class="fa fa-table "></i>Courses</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            {% block content %}


            {% endblock %}
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- METISMENU SCRIPTS -->
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="{% static 'assets/js/custom.js' %}"></script>


</body>
</html>
