{% extends 'account/dashboard.html' %}
{% load static %}

{% block content %}
{% if courses %}
{% for course in courses %}
<div class="card" style="width: 18rem;">
    <img src="{{ course.course.cover.url }}" style="width:100%" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ course.course.title }}</h5>
        <p class="card-text">{{ course.course.body|safe|slice:"100" }}...</p>
        <a href="{% url 'course:course_detail' course.course.id %}" class="btn btn-primary">Go course</a>
    </div>
</div>
{% endfor %}
{% else %}
    <h1>No course yet, You need purchase course</h1>
{% endif %}

{% endblock %}
