{% extends 'account/dashboard.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Profile update</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" value="{{ profile.user.email }}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputFirstName1" class="form-label">First name</label>
                <input type="text" name="first_name" value="{{ profile.user.first_name }}"  class="form-control" id="exampleInputFirstName1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputLastName1" class="form-label">Last Name</label>
                <input type="text" name="last_name" value="{{ profile.user.last_name }}" class="form-control" id="exampleInputLastName1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputImage1" class="form-label">Image</label>
                <input type="file" name="image" value="{% if profile.image %}http://127.0.0.1:8000{{ profile.image.url }}{% endif %}"   class="form-control" id="exampleInputImage1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputBio1" class="form-label">Bio</label>
                <textarea name="bio"  class="form-control" id="exampleInputBio1" aria-describedby="emailHelp">{{ profile.bio }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>

{% endblock %}
